.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
  }
  
.text1{
    position: absolute;
    top: 5%;
    left: 2%;
    right: 0;
    bottom: 0;
    color: white;
  }

  .text2{
    position: absolute;
    top: 18%;
    left: 2%;
    right: 0;
    bottom: 0;
    color: white;
  }

  .text3{
    position: absolute;
    top: 40%;
    left: 2%;
    right: 0;
    bottom: 0;
    color: white;
  }

  .text4{
    position: absolute;
    top: 50%;
    left: 2%;
    right: 0;
    bottom: 0;
    color: white;
  }