<div class="card my-card">
  <article class="card-body">
    <h4 class="card-title mb-4 mt-1">Sign Up</h4>
    <form (ngSubmit)="signup()" [formGroup]="signupForm">
      <div class="form-group">
        <label>Your email</label>
          <input name="email" formControlName="email" class="form-control" placeholder="Email" type="email">
          <div *ngIf="errorFlag && signupForm.controls['email'].hasError('required')" class="alert alert-danger">
              Email is required
          </div>
      </div> <!-- form-group// -->
      <div class="form-group">
        <!--<a class="float-right" href="#">Forgot?</a>-->
        <label>Your password</label>
          <input name="password" formControlName="password" class="form-control" placeholder="******" type="password">
          <div *ngIf="errorFlag && signupForm.controls['password'].hasError('required')" class="alert alert-danger">
            Password is required
          </div>
      </div> <!-- form-group// --> 
      <div class="form-group"> 
      <!-- <div class="checkbox">
        <label> <input type="checkbox"> Save password </label>
      </div> -->
      </div> <!-- form-group// -->  
      <div class="form-group">
        <button type="submit" (click)="signup()" class="btn btn-primary btn-block"> Sign Up </button>
      </div> <!-- form-group// -->                                                           
    </form>
  </article>
</div>