<form class="row" [formGroup]="movieForm">
  <div class="form-group col-md-4" >
    <label for="year">Year</label>
    <select class="form-control" id="year" formControlName="year" (change)="changeYear($event.target.value)">
      <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
    </select>
  </div>
  <div class="form-group col-md-4" >
    <label for="sortBy">Sort By</label>
    <select  class="form-control" id="sortBy" formControlName="sortBy" (change)="changeSortBy($event.target.value)">
      <option *ngFor="let sort of sortByQueryList; let i = index" [value]="sortByQueryList[i]">{{ sortByList[i] }}</option>
    </select>
  </div>
  <div class="form-group col-md-4" >
    <label for="genres">Genres</label>
    <select class="form-control" id="genres" formControlName="genres" (change)="changeRenres($event.target.value)">
      <option *ngFor="let genre of genresList; let i = index" [value]="genresQueryList[i]">{{ genresList[i] }}</option>
    </select>
  </div>
</form>
