<div class="row">
  <div class="col-xs-12">
    <form style="margin-top: 30px;" (ngSubmit)="onSubmit()" [formGroup]="weatherForm" >
      <div class="form-group">
        <label for="formGroupExampleInput">Latitude</label>
        <input type="number" class="form-control" formControlName="latitude" id="latitude" placeholder="Latitude">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Longitude</label>
        <input type="number" class="form-control" id="longitude" formControlName="longitude" placeholder="Longitude">
      </div>
      <button type="submit" [disabled]="!weatherForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>